* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:darkgrey;
}

.headingTag {
    display: flex;
    justify-content: center; 
    align-items: center; 
    color: crimson;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 5px gray;
    text-shadow: 5px 5px 5px rgb(139, 83, 83);
    margin: 30px auto; 
    padding: 10px;
    max-width: 400px; 
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}



.productList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 50px;
    width: 100%;
    padding: 20px;
    margin: 10% auto;
}

.box {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
    flex: 1 1 350px;
    width: 400px; 
    height: 350px;
    border-radius: 7px;
    border: 0.5px solid black;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px gray;

   
}

h1 {
    margin: 0; 
    font-size: 1.5rem;
    text-align: center;
    width: 100%; 
    color:brown
}

img {
    max-width: 100%; 
    max-height: 100%;
    object-fit: contain;
}



#banana {
    order: 1;

}

#tomato {
  
    order: 2;
  
  

}

#carrot{
   
    flex-basis:600px;
    flex-shrink: 0;

}



#mirchi{
    flex-grow:70;
    order:3;
}


